<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.default_page_title }}{% endif %} || {{ site.title }}</title>
		<meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<!-- Stylesheets -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/slimbox/slimbox2.css">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Alegreya+SC:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet" type="text/css">

    <!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/slimbox2.js"></script>
</head>